.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 80%;
  margin-bottom: 20px;
}

canvas {
  border-radius: 8px; /* Arredonda as bordas do canvas */
}