<app-header></app-header>

<div class="table-container">
    <h2>Gastos</h2>
    <table>
        <tr>
            <th>Categoria</th>
            <th>Limite (%)</th>
            <th>Limite (R$)</th>
            <th>Gasto (R$)</th>
            <th>Diferença</th>
        </tr>

        <tr>
            <td>Gastos Fixos</td>
            <td>50%</td>
            <td>[R$]</td>
            <td>[R$]</td>
            <td>[R$]</td>
        </tr>
        <tr>
            <td>Gastos Irrelevantes</td>
            <td>30%</td>
            <td>[R$]</td>
            <td>[R$]</td>
            <td>[R$]</td>
        </tr>
        <tr>
            <td>Investimentos/Poupança</td>
            <td>20%</td>
            <td>[R$]</td>
            <td>[R$]</td>
            <td>[R$]</td>
        </tr>
        <tr>
            <td>Total Gastos</td>
            <td>100%</td>
            <td>[R$]</td>
            <td>[R$]</td>
            <td>[R$]</td>
        </tr>
    </table>
</div>